/* General Styles */
:root {
  --white: #ffffff;
  --primary-blue: #12548e;
}

/* Navbar styling */
nav {
  background-color: var(--white);
}

nav ul a,
nav a,
header ul a,
.dropdown-content li > a,
.sidenav li > a {
  color: var(--primary-blue);
  font-family: "Montserrat", sans-serif;
}

nav ul a:hover {
  background-color: #12548e48;
}

.margin-4 {
    margin: -4px;
}

/* Dropdown styling */
.dropdown-content {
  padding: 1rem;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

/* Footer styling */
.page-footer {
    background-color: var(--primary-blue);
    font-family: "Montserrat", sans-serif;
    padding-top:10px ;
}

.social-links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.social-icons {
    display: flex;
    align-items: flex-end;
}

.icon-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    font-size: 30px; 
}

.social-icons i:hover {
    color: #bccfdf;
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-content p {
    margin: 10px 0 0 0;
}


/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .footer-main .col {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
