{% extends "base.html" %} {% block content %}
<section>
<div class="container">
    <h2>Add a dog for adoption</h2>
    <form action="/submit_dog" method="post">
        <!-- Dog Information -->
        <div class="row">
        <div class="input-field col s12 m6">
            <input type="text" id="name" name="name" required>
            <label for="name">Name</label>
        </div>

        <div class="input-field col s12 m6">
            <input type="text" id="breed" name="breed" required>
            <label for="breed">Breed</label>
        </div>

        <div class="input-field col s12 m6">
            <input type="text" id="dob" class="datepicker" name="dob" required>
            <label for="dob">Date of Birth</label>
        </div>

        <div class="input-field col s12 m6">
            <p>Select Gender:</p>
            <div class="gender-selector">
                <label class="tooltipped" data-position="bottom" data-tooltip="Male">
                    <input type="radio" name="gender" value="Male" class="with-gap" />
                    <i class="fas fa-mars fa-2x"></i>
                </label>
        
                <label class="tooltipped" data-position="bottom" data-tooltip="Female">
                    <input type="radio" name="gender" value="Female" class="" checked />
                    <i class="fas fa-venus fa-2x"></i>
                </label>
            </div>
        </div>

        <div class="input-field col m12 l6">
            <p>Select Size:</p>
            <div class="size-selector">
                <label class="tooltipped" data-position="top" data-tooltip="Small">
                    <input type="radio" name="size" value="Small" class="with-gap" />
                    <i class="fas fa-dog fa-2x"></i>
                </label>
        
                <label class="tooltipped" data-position="top" data-tooltip="Medium">
                    <input type="radio" name="size" value="Medium" class="" checked />
                    <i class="fas fa-dog fa-3x"></i>
                </label>
        
                <label class="tooltipped" data-position="top" data-tooltip="Large">
                    <input type="radio" name="size" value="Large" class="with-gap" />
                    <i class="fas fa-dog fa-4x"></i>
                </label>
            </div>
        </div>

        <div class="input-field col s12">
            <textarea id="description" name="description" class="materialize-textarea" required></textarea>
            <label for="description">Description</label>
        </div>
    </div>

        <!-- Compatibility -->
        <h3>Compatibility</h3>

        <label for="alone">Can be left alone:</label>
        <input type="text" id="alone" name="alone" required><br>

        <label for="withDogs">Can live with dogs:</label>
        <input type="text" id="withDogs" name="withDogs" required><br>

        <label for="withCats">Can live with cats:</label>
        <input type="text" id="withCats" name="withCats" required><br>

        <label for="withChildren">Can live with children:</label>
        <input type="text" id="withChildren" name="withChildren" required><br>

        <!-- Exercise Requirements -->
        <h3>Exercise Requirements</h3>

        <div class="input-field">
            <input type="text" id="exercise" name="exercise" required>
            <label for="exercise">Daily exercise required</label>
        </div>

        <!-- Image URL -->
        <div class="input-field">
            <input type="url" id="imageURL" name="imageURL" required>
            <label for="imageURL">Image URL</label>
        </div>

        <!-- Submit Button -->
        <button class="btn waves-effect waves-light" type="submit">Add Dog</button>
    </form>
</div>
<section>

{% endblock %}