
{% extends "base.html" %}
{% block content %}
<div>
    <h1 class="center">Adoption Requests</h1>
    <!-- Navigation Tabs for Different Statuses -->
    <div class="container">
        <!-- Dropdown trigger -->
    <a id='mobileTabs' class='dropdown-trigger btn-large cta-button' href='#' data-target='dropdown2'>Application Status Filter</a>

    <!-- Dropdown content For mobile user -->
    <ul class="dropdown-content" id='dropdown2'>
        <li><a href="#submitted">Submitted</a></li>
        <li><a href="#under-review">Under Review</a></li>
        <li><a href="#approved">Approved</a></li>
    </ul>

    <!-- Tabs from Materialize -->
    <ul class="tabs" id="statusTabs">
        <li class="tab col s4"><a class="active" href="#submitted">Submitted</a></li>
        <li class="tab col s4"><a href="#under-review">Under Review</a></li>
        <li class="tab col s4"><a href="#approved">Approved</a></li>
    </ul>
    
        <div id="submitted" class="col s12">
            <div class="row">
            {% if submitted_requests %}
                <!-- Display Submitted Adoption Requests -->
                {% for request in submitted_requests %}
                <div class="col s12 m6 l4">
                    <div class="card center">
                        <div class="card-content">
                            <span class="card-title">{{ request.dog_name }}</span>
                            <img class="dog-image" src="{{ request.dog_image }}" alt="{{ request.dog_name }}'s Image">
                            <p>Status: {{ request.status }}</p>
                            <a href="{{ url_for('adoption_request_details', request_id=request._id) }}" class="waves-effect btn-large cta-button">View Request</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>No submitted adoption requests.</p>
            {% endif %}
        </div>
        </div>
    
        <div id="approved" class="col s12">
            <div class="row">
                {% if approved_requests %}
                    <!-- Display Approved Adoption Requests -->
                    {% for request in approved_requests %}
                    <div class="col s12 m6 l4">
                        <div class="card center">
                            <div class="card-content">
                                <span class="card-title">{{ request.dog_name }}</span>
                                <img class="dog-image" src="{{ request.dog_image }}" alt="{{ request.dog_name }}'s Image">
                                <p>Status: {{ request.status }}</p>
                                <a href="{{ url_for('adoption_request_details', request_id=request._id) }}" class="waves-effect btn-large cta-button">View Request</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <p>No approved adoption requests.</p>
                {% endif %}
            </div>
            </div>
        
    
        <div id="under-review" class="col s12">
            <div class="row">
                {% if under_review_requests %}
                    <!-- Display Approved Adoption Requests -->
                    {% for request in under_review_requests %}
                    <div class="col s12 m6 l4">
                        <div class="card center">
                            <div class="card-content">
                                <span class="card-title">{{ request.dog_name }}</span>
                                <img class="dog-image" src="{{ request.dog_image }}" alt="{{ request.dog_name }}'s Image">
                                <p>Status: {{ request.status }}</p>
                                <a href="{{ url_for('adoption_request_details', request_id=request._id) }}" class="waves-effect btn-large cta-button">View Request</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <p>No adoption requests under review.</p>
                {% endif %}
            </div>
        
          
        </div>
    </div>
    
</div>

</div>

{% endblock %}
