<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Link to google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@500;600&family=Montserrat:wght@500;600&display=swap"
      rel="stylesheet"
    />
    <!-- Link to Font Awsome-->
    <script
      src="https://kit.fontawesome.com/c6d700b341.js"
      crossorigin="anonymous"
    ></script>
    <!-- Link to materialize -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Dogfalo/materialize@master/extras/noUiSlider/nouislider.css">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css')}}"
      type="text/css"
    />
  </head>
  <body>
    <header>
        <!-- Dropdown Elements-->
        <ul id="dropdown1" class="dropdown-content blue-font">
            {% if 'Member' in session['roles'] %}
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            {% elif 'Admin' in session.get('roles', []) %}
                <!-- Display Admin Profile link if user is an admin -->
                <li><a href="{{ url_for('admin_profile') }}">Admin Profile</a></li>
                <li><a href="{{ url_for('adoption_requests')}}">Adoption Requests</a></li>
            {% endif %}
        </ul>
    <!-- Main Navbar -->
    <div class="navbar-fixed">
        <nav class="z-depth-2 side-padding" id="nav">
            <div class="nav-wrapper blue-font">
                <a href="{{ url_for('home') }}" class="logo left"><i class="fas fa-paw"></i>  Coastal Paws Rescue </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right">
                    <i class="fa-solid fa-bars"></i>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('get_dogs') }}">Dogs For Adoption</a></li>
                    
                    {% if 'user' in session %}
                        <!-- Display username dropdown if user is logged in -->
                        <li>
                            <a class="dropdown-trigger" href="#" data-target="dropdown1">
                                {{ session['user'] }} {{ session['role'] }}  ▼
                            </a>
                        </li>
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                        <!-- Display Log In button if user is not logged in -->
                        <li class="margin-4">
                            <a href="{{ url_for('get_login_signup') }}">
                                <i class="fa-solid fa-user"></i> Log In / Sign Up
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
      
    <!-- Mobile Side Navigation -->
    <ul class="sidenav blue-font" id="mobile-demo">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('get_dogs') }}">Dogs For Adoption</a></li>
    
        <!-- Check if the user is logged in -->
        {% if 'user' in session %}
            {% if 'Member' in session['roles'] %}
                <!-- Display Member Profile link if user is a member -->
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            {% elif 'Admin' in session.get('roles', []) %}
                <!-- Display Admin Profile link and Adoption Requests if user is an admin -->
                <li><a href="{{ url_for('admin_profile') }}">Admin Profile</a></li>
                <li><a href="{{ url_for('adoption_requests')}}">Adoption Requests</a></li>
            {% endif %}
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        {% else %}
            <!-- Display Log In / Sign Up link if user is not logged in -->
            <li><a href="{{ url_for('get_login_signup') }}">Log In / Sign Up</a></li>
        {% endif %}
    </ul>
      </header>
    
    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="container flashes">
                        <h4 class="center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>


    <main>
    {% block content %} {% endblock %}
    </main>
    <footer class="page-footer">
      <div class="footer-main side-padding">
        <div class="row">
          <div class="col m6 s12">
            <h5 class="white-text">Coastal Paws Rescue</h5>
          </div>
          <div class="col m6 s12 social-links-container">
            <h5 class="white-text">Social Media Links</h5>
            <div class="social-icons">
              <a class="grey-text text-lighten-3 icon-item" 
              href="https://www.linkedin.com/in/hannah-bowles-590950197/"
              target="_blank">
              <i class="fa-brands fa-linkedin"></i
              ></a>
              <a class="grey-text text-lighten-3 icon-item" 
              href="https://github.com/Hanmb17"
              target="_blank" >
                <i class="fa-brands fa-square-github"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright center">
        <div class="footer-content container">
          <div>© 2023 Hannah Bowles. All rights reserved.</div>
          <p class="grey-text text-lighten-4">
            DISCLAIMER - This website was created for educational purposes only!
          </p>
        </div>
      </div>
    </footer>
    <!-- Link to Jquery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <!-- Link to materialize JS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Dogfalo/materialize@master/extras/noUiSlider/nouislider.min.js"></script>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
