{% extends "base.html" %} {% block content %}
<main>
  <section>
    <div class="hero-image valign-wrapper">
      <div class="row side-padding left-margin-0" id="hero-section">
        <div class="col">
          <h1 class="">Coastal Paws Rescue:</h1>
          <p class="">Building Brighter Futures for Every Pawprint</p>
          <a class="waves-effect waves-primary btn-large cta-button">Meet The Dogs</a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="section side-padding">
      <!--   Icon Section   -->
      <div class="row features-section" id="features">
        <div class="col s12 m4 l3 side-padding margin-0">
          <div class="icon-block">
            <h2 class="center"><i class="fas fa-paw"></i></h2>
            <h5 class="center">Paw-fect Matches</h5>
            <p class="center">
              Discovering your ideal family doggie is effortless with our
              detailed doggie profiles. Our doggy meeting session ensures the
              perfect match for both you and the dogs
            </p>
          </div>
        </div>

        <div class="col s12 m4 l3 side-padding margin-0">
          <div class="icon-block">
            <h2 class="center"><i class="fas fa-home"></i></h2>
            <h5 class="center">Forever Homes</h5>
            <p class="center">
              Our mission is to match doggies with loving families, giving them
              forever homes filled with love. We're dedicated to making
              adoptions easy, ensuring every dog finds a place where their tails
              wag.
            </p>
          </div>
        </div>

        <div class="col s12 m4 l3 side-padding margin-0">
          <div class="icon-block">
            <h2 class="center"><i class="fas fa-medkit"></i></h2>
            <h5 class="center">Beyond Adoption Help</h5>

            <p class="center">
              We provide complete support beyond bringing your doggie home. We
              offer behavioural assistance, training guidance, and valuable
              resources to ensure a smooth transition and continued support.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
