{% extends "base.html" %} {% block content %}

<div class="main-container"> 
<div class="profile-sidebar hide-on-med-and-down">
    <div class="profile-image">
        <!-- Add the path to the user's profile image -->
        <img src="path/to/profile-image.jpg" alt="Profile Image">
    </div>
    <div class="profile-links">
        <ul>
            <li><a href="#dashboard" class="active">Profile</a></li>
            <li><a href="#applications">Applications</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </div>
</div>

<div class="main-content ">
    <!-- Welcome User Section -->
    <section id="welcome" class="section">
        <div class="row">
            <div class="col m6 l8 left-align">
        <h4>Welcome, {{ user.username }}</h4>
        <p>Discover your new furry friend and make a difference in their lives.</p>
            </div>
    </section>

    <!-- Random Dog Generator Button -->
    <section class="section">
        <a href="{{ url_for('random_dog') }}" class="waves-effect  btn-large cta-button">Surprise Me With A Pup</a>
        <!-- Display the generated dog information here -->
        <div id="random-dog-info"></div>
    </section>

    <!-- Applications Section (Replace with your actual applications content) -->
    <section id="applications" class="section">
        <h5>Your Applications</h5>
        <div class="row">
        {% if adoption_requests %}
        {% for adoption_requests in adoption_requests %}
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ adoption_requests.dog_info.name }}</span>
                <img class="dog-image" src="{{ adoption_requests.dog_info.imageURL }}" alt="{{ adoption_requests.dog_info.name }}'s Image">
                    <p>Status: {{ adoption_requests.status }}</p>
                    <a href="{{ url_for('adoption_request_details', request_id=adoption_requests._id) }}" class="waves-effect btn-large cta-button">View Request</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No adoption requests made.</p>
        <a href="#" class="waves-effect btn-large cta-button">View Dogs Listing</a>
    {% endif %}
    </div>
    </section>


</div>    

</div>

{% endblock %}
